.bg-img {
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('./cinema-bg.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

p, h2, h1, input[type="text"], input[type="submit"] {
    font-family: 'Nunito', sans-serif;
}

.logo {
    font-size: 4rem;
}

.caption {
    font-weight: 600!important;
}

@media(max-width: 560px) {
    .logo {
        font-size: 3rem;
    }

    .caption {
        font-size: 2rem!important;
    }
    
}

@media(min-width: 400px) and (max-width: 574px) {
    .submit-btn {
        width: 80%!important;
        margin-top: 1rem!important;
    }

    .email-input {
        width: 80%!important;
    }
}

@media(max-width: 399px) {
    .submit-btn {
        width: 100%!important;
        margin-top: 1rem!important;
    }

    .email-input {
        width: 100%!important;
    }
}

.email-input {
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 20px;
    padding-left: 15px;
}

.submit-btn {
    /* background-color: #E607A0!important; */
    background-color: #12B1F0!important;
    color: white!important;
    height: 40px;
    border-radius: 20px!important;
}

.text-extra-bold {
    font-weight: 800!important;
}
